<div id="<%= dom_id item %>">
  <p>
    <strong>Id:</strong>
    <%= item.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= item.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= item.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= item.count %>
  </p>

</div>
